
body{
    background-color: brown;
    text-align: center;
}
#pics #img{
    width: 35%;
    height: 300px;  
  }
  nav{
      width: 1500px;
      /* height: 100px; */
      padding-inline-end: 0%;
      background-color: #E5E5E5;
      padding-top: 20px;
      position: fixed;
      
  }
  nav>ul>li{
      display: inline-block;
      padding: 50px 50px 50px;
      text-align: left;
  }
  #pics{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4%;
  }


  h3{
      text-align:center ;
      color:blue;
  }
  h1{
      position: fixed;
      padding-top: 0;
     
  }
  .first{
      position: fixed;
      font-size: 70px;
      padding-left: 15%;
      /* font-size: 30px; */
      
  }
  h2{
      padding-top: 10%;
  }
  #class{
      text-align: center;
      display: flex;
  }
  footer{
      text-align: center;
      font-size: 20px;
      margin-top:2x;
  }
  #galary{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding-top: 6%; 
    scroll-padding-top: 15%;
  }
  


.column {
    float: left;
    width: 20%;
    padding-left: 10%;
  }
  .colomn img{
      widows: 100%;
      height: min-content;
  }
  .column p{
      text-align: center;
  }
  /* Clear fl{oats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .photo img{
      height: 300px;
      width: 300p;
      border-radius: 10px;
  }
  h5{
      font-size: 40px;
  }
  #gallery{
      padding-top: 15%;
  }
  #services{
      padding-top: 20%;
  }
  #services h4{
      font-size: 30px;
  }
  #services p{
      padding-left: 2%;
  }
  #contact{
      padding-top:15%;
  }
  h5{
      font-size: 30px;
  }
  #first{
      font-size: 70px;
      padding-left: 15;
  }
  #About{
      padding-top: 15%;
  }
  #About h3{
      font-size: 40px;
  }
  #About p{
      font-size: 30px;
  }